@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic body reset */
html,body,#root { height:100%; margin:0; font-family:Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
